<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expresiones</title>
</head>
<body>
    <h2>Expresiones</h2>
    <h3>Interpolación</h3>
    <p>Bienvenido {{nombre}} {{apellido}} tu color favorito es el {{color}}</p>
    <h3>Expresiones matemáticas</h3>
    <p>La base del triángulo es {{base}}cms y la altura es {{altura}}cms</p>
    <p>El área del triángulo es {{base * altura/2}}cms2</p>
    <h3>Concatenación de Strings</h3>
    <p>Bienvenido {{nombre +" "+ apellido}}</p>
</body>
</html>